################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/.vs
.vs

/.vs
/Sources/Chapter1/Startup_Chapter/OnlineOrder/bin
/Sources/Chapter1/Startup_Chapter/OnlineOrder/obj
